.charts {
  max-width: min-content;
  margin: auto;
  box-sizing: border-box;
}

#pie-charts-div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.navbar-brand {
  font-family: Comfortaa, sans-serif;
  font-weight: 700;
}

input[type="checkbox"],
.checkbox-label {
  cursor: pointer;
  user-select: none;
}

#stop-btn {
  width: 100%;
  min-width: fit-content;
}

#graph-controls-tool-tip {
  opacity: 0;
}
